.project-card {
  background: linear-gradient(135deg, #050505, #0630ed);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project-card:hover {
  transform: scale(1.05);
}

.titlepro {
  margin: 150px 0 0 0;  
}

.github-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

  .project-card{
    margin-top: 500px;
    width: 10px;
  }
  
}

