.navbar {
  display: flex;
  justify-content: center;
  background-color: #030303;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: blue; /* Change the font color to blue on hover */
  background-color: transparent; /* Ensure the background remains transparent */
}

html {
  scroll-behavior: smooth;
}
