.navbar {
    display: flex;
    justify-content: center;
    background: #060606;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  