.About-div{
height: 500px;
   }
   .Aboutdiv1{
    height: 200px;
    margin-left: 200px;
    margin-top: 300px;
   }
   .Aboutdiv4 {
    font-size: 1.2em;
    line-height: 1.5;
  }
  .Aboutdiv3 {
    color: rgb(18, 18, 241);
    font-size: 1.5em;
  }
  .Aboutdiv2 {
    margin-left: 50px;
    margin-top: 400px;
  }
  